Repository Rahix/tbot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, selftests, generator_html, generator_junit, static_tests

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      args: [--line-length=88, --safe]
      exclude: ^(setup\.py$|doc)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.1-1
    hooks:
    - id: check-added-large-files
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: debug-statements
    - id: flake8
      exclude: ^(setup\.py$|static_tests|doc|fastentrypoints.py)
-   repo: local
    hooks:
    - id: mypy
      name: mypy
      language: system
      entry: mypy --no-incremental
      files: ^.*\.py$
      exclude: ^(setup\.py$|static_tests|doc|fastentrypoints.py|tbot/machine_v1)
-   repo: local
    hooks:
    - id: selftests
      name: tbot selftest
      language: system
      entry: python3 -c "__import__('sys').argv = ['tbot', '--log', '/tmp/tbot-log.json', '-vv', 'selftest']; __import__('tbot.main').main.main()"
      files: ^.*\.py$
      pass_filenames: false
      require_serial: true
    - id: generator_html
      name: tbot HTML log generator
      language: system
      entry: sh -c "./generators/htmllog.py /tmp/tbot-log.json >/dev/null"
      files: ^.*\.py$
      pass_filenames: false
      require_serial: true
    - id: generator_junit
      name: tbot junit generator
      language: system
      entry: sh -c "./generators/junit.py /tmp/tbot-log.json >/dev/null"
      files: ^.*\.py$
      pass_filenames: false
      require_serial: true
    - id: static_tests
      name: tbot type system tests
      language: system
      entry: ./static_tests/run.sh
      files: ^.*\.py$
      pass_filenames: false
      require_serial: true

ssh-machine: Fix ignore_hostkey being ignored
  tbot/machine_v2/connector/ssh.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

tc.shell: Allow copying from local to ssh-machine
  tbot/tc/shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

selftest: Fix a flake8 warning
  tbot/tc/selftest/__init__.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

tc.shell: Fix copy ignoring ssh_config options
  tbot/tc/shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Fix sphinx errors
  Documentation/quickstart.rst
  Documentation/recipes.rst
Due: none

machine_v2: Add init() hook
  Documentation/configuration.rst
  tbot/machine_v2/machine.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Add a migration guide
  Documentation/index.rst
  Documentation/migration.rst
Due: none

tc.shell: Add check_for_tool testcase
  Documentation/modules/tc.rst
  tbot/tc/shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

Remove all references to deprecated linux.LabHost
  static_tests/testcase.py
  tbot/decorators.py
  tbot/selectable.py
  tbot/tc/selftest/__init__.py
  tbot/tc/selftest/machine.py
  tbot/tc/selftest/minisshd.py
  tbot/tc/selftest/path.py
  tbot/tc/selftest/tc/__init__.py
  tbot/tc/selftest/tc/build.py
  tbot/tc/selftest/tc/git.py
  tbot/tc/selftest/tc/kconfig.py
  tbot/tc/selftest/tc/shell.py
  tbot/tc/selftest/tc/uboot.py
  tbot/tc/selftest/testcase.py
  tbot/tc/uboot/build.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

Remove all references to deprecated linux.LinuxMachine
  Documentation/quickstart.rst
  Documentation/recipes.rst
  static_tests/testcase.py
  tbot/decorators.py
  tbot/machine_v2/linux/path.py
  tbot/selectable.py
  tbot/tc/git.py
  tbot/tc/selftest/machine.py
  tbot/tc/selftest/tc/uboot.py
  tbot/tc/shell.py
  tbot/tc/uboot/build.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

log: Fixup nesting when tbot has not started yet
  tbot/log.py
  tbot/log_event.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

machine-v2.linux: Reimplement authenticators
  tbot/machine_v2/connector/paramiko.py
  tbot/machine_v2/connector/ssh.py
  tbot/machine_v2/linux/__init__.py
  tbot/machine_v2/linux/auth.py
  tbot/machine_v2/machine.py
  tbot/tc/shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Document authenticators
  Documentation/modules/machine_linux.rst
  tbot/machine_v2/connector/paramiko.py
  tbot/machine_v2/connector/ssh.py
  tbot/machine_v2/linux/auth.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

machine-v2: Deprecate old items for good
  tbot/machine_v2/linux/__init__.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

Fix python style for new formatter version
  generators/junit.py
  tbot/tc/selftest/board_machine.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

pre-commit: Update hooks
  .pre-commit-config.yaml
Due: none

docs: Document new channel API
  Documentation/index.rst
  Documentation/modules/machine_channel.rst
  tbot/machine_v2/channel/channel.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Document more classes in migration guide
  Documentation/migration.rst
Due: none

selftest: Test both, ParamikoConnector and SSHConnector
  tbot/tc/selftest/machine.py
  tbot/tc/selftest/minisshd.py
  tbot/tc/selftest/tc/shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Add back "Fork me on GitHub" ribbon
  Documentation/conf.py
  Documentation/sphinx-templates/layout.html
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Update index.rst and CHANGELOG
  CHANGELOG.md
  Documentation/index.rst
Due: none

Remove old doc/ folder
  doc/CHANGELOG.md
  doc/CONTRIBUTING.md
  doc/_static/tbot-logo-header.png
  doc/_static/tbot-logo-white.png
  doc/_static/tbot-logo.png
  doc/_static/tbot.png
  doc/_static/tbot.svg
  doc/_templates/layout.html
  doc/building.rst
  doc/conf.py
  doc/config.rst
  doc/getting-started.rst
  doc/index.rst
  doc/install.rst
  doc/logging.rst
  doc/module-board.rst
  doc/module-linux.rst
  doc/module-machine.rst
  doc/module-main.rst
  doc/module-tc.rst
  doc/quickstart.rst
  doc/recipes.rst
Due: selftests, generator_html, generator_junit, static_tests

Move man-page to new Documentation folder
  Documentation/tbot.1
  setup.py
Due: selftests, generator_html, generator_junit, static_tests

machine.linux: Add compatibility alias `build_command()`
  tbot/machine/linux/linux_shell.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Fix build when tbot is not installed
  Documentation/conf.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

ci: Update travis config to build & deploy docs
  .travis.yml
Due: none

ci: Increase shallow clone depth
  .travis.yml
Due: none

ci: Add domain name file for GitHub Pages
  .travis.yml
Due: none

Implement proper testcase skipping
  Documentation/modules/main.rst
  tbot/__init__.py
  tbot/decorators.py
  tbot/log_event.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

log: Deprecate tbot.log.skip()
  tbot/log.py
  tbot/tc/selftest/board_machine.py
  tbot/tc/selftest/machine.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

selftest: Add a test for tbot.skip()
  tbot/tc/selftest/__init__.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

generators: Add support for skipped tests
  generators/dot.py
  generators/htmllog.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

docs: Update URL to online documentation
  Documentation/tbot.1
  README.md
Due: none

README: Update some outdated information
  README.md
Due: none

README: Fix path to tbot logo
  README.md
Due: none

board: Add proper compatibility aliases
  tbot/machine/board/__init__.py
Due: mypy, selftests, generator_html, generator_junit, static_tests

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix deprecated types in annotations
  tbot/decorators.py
  tbot/tc/selftest/testcase.py
Due: mypy, selftests, generator_html, generator_junit, static_tests
